html{    background-color: write;
    max-width: 100%;
    height: auto;
    }

.img{
    display: block;
    max-width: 100%;
    height: auto;
    }

    .main-content{
        width: 90%;
        max-width: 1440px;
        margin:auto;
        min-height: 100vh;
    
    }